@import '~bulma';
@import 'spacing';

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.has-round-corners {
  border-radius: 4px;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.has-bg-img {
  background: linear-gradient(rgba($grey-lighter, 0.38), rgba($grey-lighter, 0.38)),
    url('../images/catdog.jpg') center center;
  background-size: cover;
  width: 100%;
  height: 100%;

  .title,
  .subtitle {
    text-shadow: 1px 0 7px $black-ter;
  }
}

.has-left-dash::before {
  content: '‒';
  display: inline-block;
  padding: 0 0.5rem;
}

.navbar-item.has-dropdown:focus .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
  background-color: hsl(0, 0%, 98%);
}
.navbar-item.is-active .navbar-dropdown,
.navbar-item.is-hoverable:focus-within .navbar-dropdown {
  display: block;
}

.centered {
  height: 80vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.error-message {
  font-size: 18px;
  text-align: center;
}

.code {
  border-right: 2px solid;
  font-size: 26px;
  padding: 0 15px 0 15px;
  text-align: center;
}

