@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?f2ztq4');
  src:  url('../fonts/icomoon.eot?f2ztq4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?f2ztq4') format('truetype'),
    url('../fonts/icomoon.woff?f2ztq4') format('woff'),
    url('../fonts/icomoon.svg?f2ztq4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-circle:before {
  content: "\e900";
}
.icon-trash-o:before {
  content: "\e901";
}
.icon-edit:before {
  content: "\e902";
}
.icon-pencil-square-o:before {
  content: "\e902";
}
.icon-upload:before {
  content: "\e903";
}
.icon-key:before {
  content: "\e904";
}
.icon-at:before {
  content: "\e905";
}
